/* ++++++++++尾部footer++++++++++ */
.footer
{
	width: 1192px;
	height: 91px;
	margin: 0 auto;
	color: #666;
}
.footer_wrap
{
	width: 418px;
	height: 91px;
	margin: 0 auto;
}
.about
{
	width: 100%;
	height: 30px;
	background: #fff;
}
.about li
{
	width: 60px;
	height: 30px;
	float: left;
	line-height: 30px;
}
.about li:first-of-type
{

	width: 58px;
}

.about span
{
	padding-left: 5px;
	padding-right: 5px; 
	border: 0px solid #999;
	border-left-width: 2px;
	font-size: 10px;
	color: #666;
}

#about_li
{

	border-left-width: 0px;
}

.copy
{
	width: 418px;
	height: 19px;
}
.copy span
{
	padding-left: 12px;
}

.allow
{
	width: 418px;
	height: 32px;
	line-height: 32px;
	padding-left: 98px;
	color: #666;
}

/* ===========尾部部分结束========== */
